{% extends 'blog/base.html' %} {% block content %}
<form method="POST">
    <table>
        <tr>
            <th>タイトル</th>
            <td>{{ form.title }}</td>
        </tr>
        <tr>
            <th>本文</th>
            <td>{{ form.content }}</td>
        </tr>
        <tr>
            <th>下書き</th>
            <td>{{ form.is_published }}</td>
        </tr>
        <tr>
            <th>画像</th>
            <td>{{ form.image }}</td>
        </tr>
    </table>
    <input type="submit" value="送信" /> {% csrf_token %}
</form>
{% endblock content %}